.wikisync .conflict {
	background-image: url('images/status-conflict.png');
}
.wikisync .ignored {
	background-image: url('images/status-ignored.png');
}
.wikisync .missing {
	background-image: url('images/status-missing.png');
}
.wikisync .modified {
	background-image: url('images/status-modified.png');
}
.wikisync .new {
	background-image: url('images/status-new.png');
}
.wikisync .outdated {
	background-image: url('images/status-outdated.png');
}
.wikisync .synced {
	background-image: url('images/status-synced.png');
}
.wikisync .unknown {
	background-image: url('images/status-unknown.png');
}
.wikisync li {
	list-style: none;
	padding-left: 68px;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 1.4em;
	overflow: hidden;
}
.wikisync i {
	color: #999;
}
.wikisync .nested {
	margin-left: -80px;
}
.wikisync .controls {
	display: none;
	float: right;
	padding-right: 12px;
}
.wikisync .hover {
	background-color: #FFFFBF;
}
.wikisync .hover > .item-wrapper > .controls {
	display: inline;
}
.wikisync .unignore-item {
	display: none;
}
.wikisync .ignored .unignore-item {
	display: inline;
}
.wikisync .ignored .ignore-item {
	display: none;
}
.wikisync label.modified {
	background-image: none;
	color: #000EC4;
}
.wikisync label.outdated {
	background-image: none;
	color: #5000C4;
}
.wikisync .progress {
	display: none;
}
.wikisync-progress .action {
	display: none;
}
.wikisync-progress .progress {
	display: block;
}