@grey: #999;

.status-image(@name) {
	background-image: url('images/status-@{name}.png');
}

.opacity(@op:100) {
	filter: alpha(opacity=@op);
	-moz-opacity: @op/100;
	-khtml-opacity: @op/100;
	opacity: @op/100;
}

.wikisync {
	i {
		color: @grey;
	}
	/* controls */
	.center {
		text-align: center;
	}
	.indicate {
		cursor: help;
		border-bottom: 1px dotted #BBB
	}
	.ignore {
		display: inline;
	}
	.unignore {
		display: none;
	}
	.ignored {
		.unignore {
			display: inline;
		}		
		.ignore {
			display: none;
		}
	}
	.hover {
		background-color: #FFFFBF;
	}
	.hint {
		font-weight: normal;
		color: @grey;
	}
	label {
		color: @grey;
	}
	label.selected {
		color: #000;
	}
	/* sync status */
	.status {
		background-repeat: no-repeat;
		background-position: center center;
		min-width: 64px;
		text-indent: -1000px;
		text-align: left;
		display: inline-block;
		overflow: hidden;
	}
	.status-badge {
		background-repeat: no-repeat;
		background-position: center center;
		min-width: 120px;
		text-indent: -1000px;
		text-align: left;
		display: inline-block;
		overflow: hidden;
	}
	.conflict .status {
		.status-image('conflict');
	}
	.ignored .status {
		.status-image('ignored');
	}
	.missing .status {
		.status-image('missing');
	}
	.modified .status {
		.status-image('modified');
	}
	.new .status {
		.status-image('new');
	}
	.outdated .status {
		.status-image('outdated');
	}
	.synced .status {
		.status-image('synced');
	}
	.unknown .status {
		.status-image('unknown');
	}
	.progress .status {
		background-image: url('images/loading.gif') !important;
	}
	.conflict .status-badge {
		.status-image('conflict-big');
	}
	.ignored .status-badge {
		.status-image('ignored-big');
	}
	.missing .status-badge {
		.status-image('missing-big');
	}
	.modified .status-badge {
		.status-image('modified-big');
	}
	.new .status-badge {
		.status-image('new-big');
	}
	.outdated .status-badge {
		.status-image('outdated-big');
	}
	.synced .status-badge {
		.status-image('synced-big');
	}
	.unknown .status-badge {
		.status-image('unknown-big');
	}
	.progress .status-badge {
		background-image: url('images/loading.gif') !important;
	}
	.wikisync-list {
		padding: 0;
		margin: 0 0 12px 0;
		ul, li, p {
			padding: 0; margin: 0;
			list-style: none;
		}
		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 26px;
			line-height: 26px;
		}
		.controls {
			display: none;
			float: right;
			width: 200px;
			margin-left: 12px;
		}
		.hover > .controls {
			display: inline-block;
		}
		.indent {
			padding-left: 68px;
		}
		.error {
			color: #c00;
			font-style: italic;
		}
	}
	.wikisync-form {
		ul, li {
			list-style: none;
		}
	}

}

.wikisync-modal {
	position: absolute;
	z-index: 888;
	top: 0; bottom: 0;
	left: 0; right: 0;
	.wikisync-modal-overlay {
		.opacity(10);
		background-color: #000;
		width: 100%; height: 100%;
	}
	.wikisync-modal-panel {
		position: absolute;		
		background-color: #F7F7F0;
		border: 1px outset #998;
		padding: 12px;
		top: 60px;
		left: 30px; right: 30px;
		textarea {
			width: 100%;
			height: 300px;
			margin: 0;
		}
	}
}

.wikisync-panel {
	position: absolute;
	background-color: #F7F7F0;
	border: 1px outset #998;
	padding: 12px;
	width: 260px;
	z-index: 100;
	right: 10px; top: 10px;
	text-align: center;
	.close {
		position: absolute;
		top: 4px; right: 8px;
	}
	.last-synced {
		font-style: italic;
		font-size: smaller;
		text-align: center;
		color: @grey;
	}
}
