.wikisync{}.wikisync i{color:#999999;}
.wikisync .center{text-align:center;}
.wikisync .indicate{cursor:help;border-bottom:1px dotted #bbbbbb;}
.wikisync .ignore{display:inline;}
.wikisync .unignore{display:none;}
.wikisync .ignored .unignore{display:inline;}
.wikisync .ignored .ignore{display:none;}
.wikisync .hover{background-color:#FFFFBF;}
.wikisync .hint{font-weight:normal;color:#999999;}
.wikisync label{color:#999999;}
.wikisync label.selected{color:#000;}
.wikisync .status{background-repeat:no-repeat;background-position:center center;min-width:64px;text-indent:-1000px;text-align:left;display:inline-block;overflow:hidden;}
.wikisync .status-badge{background-repeat:no-repeat;background-position:center center;min-width:120px;text-indent:-1000px;text-align:left;display:inline-block;overflow:hidden;}
.wikisync .conflict .status{background-image:url('images/status-conflict.png');}
.wikisync .ignored .status{background-image:url('images/status-ignored.png');}
.wikisync .missing .status{background-image:url('images/status-missing.png');}
.wikisync .modified .status{background-image:url('images/status-modified.png');}
.wikisync .new .status{background-image:url('images/status-new.png');}
.wikisync .outdated .status{background-image:url('images/status-outdated.png');}
.wikisync .synced .status{background-image:url('images/status-synced.png');}
.wikisync .unknown .status{background-image:url('images/status-unknown.png');}
.wikisync .progress .status{background-image:url('images/loading.gif') !important;}
.wikisync .conflict .status-badge{background-image:url('images/status-conflict-big.png');}
.wikisync .ignored .status-badge{background-image:url('images/status-ignored-big.png');}
.wikisync .missing .status-badge{background-image:url('images/status-missing-big.png');}
.wikisync .modified .status-badge{background-image:url('images/status-modified-big.png');}
.wikisync .new .status-badge{background-image:url('images/status-new-big.png');}
.wikisync .outdated .status-badge{background-image:url('images/status-outdated-big.png');}
.wikisync .synced .status-badge{background-image:url('images/status-synced-big.png');}
.wikisync .unknown .status-badge{background-image:url('images/status-unknown-big.png');}
.wikisync .progress .status-badge{background-image:url('images/loading.gif') !important;}
.wikisync .wikisync-list{padding:0;margin:0 0 12px 0;}.wikisync .wikisync-list ul,.wikisync .wikisync-list li,.wikisync .wikisync-list p{padding:0;margin:0;list-style:none;}
.wikisync .wikisync-list p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:26px;line-height:26px;}
.wikisync .wikisync-list .controls{display:none;float:right;width:200px;margin-left:12px;}
.wikisync .wikisync-list .hover>.controls{display:inline-block;}
.wikisync .wikisync-list .indent{padding-left:68px;}
.wikisync .wikisync-list .error{color:#c00;font-style:italic;}
.wikisync .wikisync-form ul,.wikisync .wikisync-form li{list-style:none;}
.wikisync-panel{position:absolute;background-color:#F7F7F0;border:1px outset #998;padding:12px;width:260px;z-index:100;right:10px;top:10px;text-align:center;}.wikisync-panel .close{position:absolute;top:4px;right:8px;}
.wikisync-panel .last-synced{font-style:italic;font-size:smaller;text-align:center;color:#999999;}
