.wikisync{}.wikisync i{color:#999999;}
.wikisync .center{text-align:center;}
.wikisync .indicate{cursor:help;border-bottom:1px dotted #bbbbbb;}
.wikisync .ignore{display:inline;}
.wikisync .unignore{display:none;}
.wikisync .ignored .unignore{display:inline;}
.wikisync .ignored .ignore{display:none;}
.wikisync .progress{display:none;}
.wikisync .action{display:inline;}
.wikisync .progressing .progress{display:inline;}
.wikisync .progressing .action{display:none;}
.wikisync .conflict{background-image:url('images/status-conflict.png');}
.wikisync .ignored{background-image:url('images/status-ignored.png');}
.wikisync .missing{background-image:url('images/status-missing.png');}
.wikisync .modified{background-image:url('images/status-modified.png');}
.wikisync .new{background-image:url('images/status-new.png');}
.wikisync .outdated{background-image:url('images/status-outdated.png');}
.wikisync .synced{background-image:url('images/status-synced.png');}
.wikisync .unknown{background-image:url('images/status-unknown.png');}
.wikisync h5{background-repeat:no-repeat;background-position:center center;height:22px;text-indent:-1000px;overflow:hidden;margin:0;padding:0;}
.wikisync h5.conflict{background-image:url('images/status-conflict-big.png');}
.wikisync h5.ignored{background-image:url('images/status-ignored-big.png');}
.wikisync h5.missing{background-image:url('images/status-missing-big.png');}
.wikisync h5.modified{background-image:url('images/status-modified-big.png');}
.wikisync h5.new{background-image:url('images/status-new-big.png');}
.wikisync h5.outdated{background-image:url('images/status-outdated-big.png');}
.wikisync h5.synced{background-image:url('images/status-synced-big.png');}
.wikisync h5.unknown{background-image:url('images/status-unknown-big.png');}
.wikisync a.status{padding-left:64px;background-repeat:no-repeat;background-position:left center;}
.wikisync-list li{list-style:none;padding-left:68px;background-repeat:no-repeat;background-position:left center;line-height:1.4em;overflow:hidden;}
.wikisync-list ul.nested{margin-left:-80px;}
.wikisync-list .hover{background-color:#FFFFBF;}
.wikisync-panel{position:absolute;background-color:#F7F7F0;border:1px outset #998;padding:12px;width:260px;z-index:100;right:10px;top:10px;text-align:center;}.wikisync-panel .close{position:absolute;top:4px;right:8px;}
.wikisync-panel .last-synced{font-style:italic;font-size:smaller;text-align:center;color:#999999;}
